@model Tigwi.UI.Models.IAccountModel

<div class="row-fluid">

@using (Html.BeginForm("Following", "Account", new { id = Model.Id }))
{
    <button type="submit" class="btn btn-primary" id="followedListsButton">Followed Lists !</button>
}
</div>