@model Tigwi.UI.Models.Account.AccountEditViewModel

<div class="modal-header modal-header-edit-list">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Edit a list</h3>
</div>

@using (Html.BeginForm("Edit", "Account", FormMethod.Post,null))
{    
    <div class="modal-body">

        @Html.LabelFor(m => m.Description)
        @Html.EditorFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
        
        @Html.HiddenFor(m => m.AccountId)
    </div>
    
    
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <button class="btn btn-primary" type="submit" id="submitEditAccountModalButton">Save your Changes !</button>
        
    </div>
}

