@using Tigwi.UI.Models

@model ICollection<IListModel>

<section class="listView">
    <ul>
    @foreach (var list in Model)
    {
        <li>
            <input type="checkbox" checked="true"/>
            <a class="accordion-toggle" data-toggle="collapse" href="#list-@list.Id">
                <i class="icon-folder-close"></i> @list.Name
            </a>
            <div id="list-@list.Id" class="accordion-body collapse">
                <ul class="list-user">
                    @foreach (var member in list.Members)
                    {
                        <li><i class="icon-user"></i>@member.Name</li>
                    }
                </ul>
            </div>
        </li>
    }
    </ul>
</section>
