@model Tigwi.UI.Models.IPostModel

<article class="message shown poster-@Model.Poster.Id">
    <div class="row-fluid">
        <img alt="Avatar of @Model.Poster.Name"
             class="span2"
             src="@Url.Content("~/Content/images/default_profile_1_bigger.png")"
             style="border-radius: 20px;" />
        <section class="span10">
            <h5>@Model.Poster.Name</h5>
            <p>@Model.Content</p>
        </section>
            
    </div>
</article>
