@using Tigwi.UI.Models
@using Tigwi.UI.Models.Account
@using Tigwi.UI.Models.User

<h3>Followers of my owned Lists</h3>

@foreach(var list in CurrentAccount.AllOwnedLists)
{
    <div class="listFollowers offset1">
        <h5>@list.Name (@list.Followers.Count) :</h5>
        <div class="listFollowers">
            @foreach (var account in list.Followers)
            {

                <i>@account.Name </i>
                if(account!=list.Followers.Last())
                {
                    @Html.Raw(" , ")
                }
            }
        </div>
    </div>
    
}