@using Tigwi.UI.Models

<section class="accountsView">
<ul>

<script type="text/javascript">
       $(document).ready(function () {
            $('.editAcc').click(function (event) {
                event.stopPropagation();
                $('#editAccountModal').modal('show');
                $('#isEdit').val(1);
                $('.modal-header-edit-account > h3').html('Edit Account');
                $('#submitEditAccountModalButton').html('Save Changes');

                var name=$(this).attr('id');
                var accountId=name.substring(5,name.length);
                $.ajax({
                    url: "@Url.Action("getAccount","Account")",
                    type: "POST",
                    dataType: 'json',
                    data: { 'accountId': accountId },
                    success: function(data) {
                            $('#Description').val(data.Descr);
                            $('#AccountId').val(accountId);
                            $('#ReturnController').val("Account");
                            $('#ReturnAction').val("List");
                    }
                });   
            });
        });
</script>

@foreach (var account in Model.Accounts)
{
    <li>
        <h2> @account.Name 
        <button class="btn btn-primary editAcc" id="acct-@account.Id" ><b>Edit</b></h2>
       
        <p><b>Description : </b> @account.Description</p>
    </li>
}
</ul>
</section>

