@model Tigwi.UI.Models.WritePostViewModel
           
<script src="@Url.Content("~/Scripts/writeMessageScript.js")" type="text/javascript"></script>

<article>

    @using (Html.BeginForm("Write", "Post",FormMethod.Post,new { id = "writeMessageForm"}))
    {
        <div class="row-fluid">
            @Html.TextAreaFor(m => m.Content,new { @class="input-xlarge span11",id="inputMessage",style="resize:none;position:center;",placeholder="Write a new message !"})
            @Html.ValidationMessageFor(m => m.Content)
            <button type="submit" class="btn btn-primary" id="inputButton">Post !</button>
        </div>
        
    }

</article>


 