@using Tigwi.UI.Models.Storage
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Oops, it seems there was an error while processing your request.
</h2>
<p>@Model.Exception.ToString()</p>