
# Compiled folders #
####################
bin/
obj/
csx/

# Swpap files #
###############
~*
*.swp

# Resharper folder #
####################
_ReSharper*/

# OS genrated files #
#####################
Thumbs.db
