
# Compiled folders #
####################
bin/
obj/
csx/

# Swpap files #
###############
~*
*.swp

# Connection Configuration #
############################
ConnectionInfo.xml

# Resharper folder #
####################
_ReSharper*/

# OS genrated files #
#####################
Thumbs.db


# Local, user-specific configuration #
######################################
*.suo
*.user
