@model Tigwi.UI.Models.OtherViewModel

@{
    ViewBag.Title = Model.accountName + "'s page";
}


<div class="row-fluid">
    <section class="span2 userView">
        <p>Oh Hai there @Model.accountName</p>
    </section>
    <section class="span5">
        @Html.Partial("_WriteMessage")
        @Html.Partial("_ViewPostList",Model.posts)
    </section>
</div>