body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.leftInfos {
    border-style: solid none none solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 5px;
    border-width: 2px;
    border-color: gainsboro;
    padding-top: 10px;
    padding-left: 5px;
}

.listView ul {
    list-style: none;
}

.listView ul li i {
    margin-right: 5px;
}

.listuser {
    margin-left: 15px;
}

.message:nth-child(odd) {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    border-width: 5px;
    border-style: none none none solid;
    border-color: lightgray;
}
.message:nth-child(even) {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    border-width: 5px;
    border-style: none solid none none;
    border-color: darkgray;
}