body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url(images/grass.png),url(images/clouds.png);
    background-attachment: fixed;
    background-position: bottom, top;
    background-repeat: no-repeat;
    background-color: #8cc2ff;
}
@media (min-width: 980px) {
    .pull-center {
        text-align: center;
    }
    .pull-center > .nav {
        float:none;
        display:inline-block;
        height: 40px;
    }
}
p {
    word-wrap: break-word;
}

.truncated 
{
    float: left;
    max-width: 120px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncated-shorter
{
    float: left;
    max-width: 90px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncated-shortest
{
    float: left;
    max-width: 60px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.center-bunny {
    position: relative;
    left: 13%;
    margin-left: -27px;
    height: 30px;
    margin-top: 5px;
}

.center-logo {
    position: relative;
    left: 8%;
    margin-left: -27px;
    height: 30px;
    margin-top: 5px;
}

.leftInfos, .mainSection {
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255,255,255,0.5);
}

.listView ul {
    list-style: none;
}

.listView ul li i {
    margin-right: 5px;
}

.shown,.listFollowers {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}

a:link {text-decoration:none;color: MenuText;}
a:visited {text-decoration:none;color: MenuText;}
a:hover {text-decoration:none;color: MenuText;}
a:active {text-decoration:none;color: MenuText;} 

.listName,.followButton
{
    margin-top: 5px;
    padding: 5px;
    border-radius: 2px;
}
.listName:hover,.followButton:hover {
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}

.edit , .delete {
    display: none;
}

.listName:hover > div>  .edit , .listName:hover > div > .delete {
    display: inline-block;
} 

.icon-clickable:hover {
    background-color: rgba(0,0,0,0.25);
    border-radius: 5px;
    z-index: -9999;
}

.checked {
    background-color: rgba(0,0,255,0.1)
}

div.inline > a,
div.inline > h3  { display: inline; }