body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url(images/grass.png),url(images/clouds.png);
    background-attachment: fixed;
    background-position: bottom, top;
    background-repeat: no-repeat;
    background-color: #8cc2ff;
}
@media (min-width: 980px) {
    .pull-center {
        text-align: center;
    }
    .pull-center > .nav {
        float:none;
        display:inline-block;
        height: 40px;
    }
}

.truncated 
{
    float: left;
    width: 120px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncated-shorter
{
    float: left;
    width: 90px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.truncated-shortest
{
    float: left;
    width: 60px;
    overflow: hidden;
    clear: left;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.center-bunny {
    position: relative;
    left: 18%;
    margin-left: -27px;
    height: 30px;
    margin-top: 5px;
}

.leftInfos, .mainSection {
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    background: rgba(255,255,255,0.5);
}

.listView ul {
    list-style: none;
}

.listView ul li i {
    margin-right: 5px;
}

.shown {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.5);
}
/*
.shown:nth-of-type(even) {
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    border-width: 5px;
    border-style: none solid none none;
    border-color: darkgray;
}*/

a:link {text-decoration:none;color: MenuText;}
a:visited {text-decoration:none;color: MenuText;}
a:hover {text-decoration:none;color: MenuText;}
a:active {text-decoration:none;color: MenuText;} 

.listName {
    padding: 5px;
    border-radius: 2px;
}
.listName:hover {
    background: rgba(255,255,255,0.7);
    cursor: pointer;
}

.edit , .delete {
    display: none;
}

.listName:hover > div>  .edit , .listName:hover > div > .delete {
    display: inline-block;
} 