@{
    ViewBag.Title = "Followers";
}

@section LeftInfos
{
    <h3>Account : @CurrentAccount.Name</h3>
    <p>Number of lists owned : @CurrentAccount.PublicOwnedLists.Count()</p>
    <p>Number of Users : @CurrentAccount.Users.Count</p>
}

@Html.Partial("_ViewListsAccount")