@model Tigwi.UI.Models.IUserModel

@{
    ViewBag.Title = "Tigwi | "+Model.Login;
}

@section LeftInfos
{
    <h3>User : @Model.Login</h3>
    <p>Number of Accounts : @Model.Accounts.Count</p>
}

@Html.Partial("_ViewAccounts", Model)