@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "ShowAccount";
}

@section LeftInfos
{
        <p>Oh Hai @Model.Name</p>
        @Html.Partial("_FollowPerson", Model)
        @Html.Partial("_AccountFollowedPublicLists", Model)
}

@Html.Partial("_ViewPostList", Model.PersonalList.PostsAfter(DateTime.MinValue, 10))