@using Tigwi.UI.Models
@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "Home Page";
}


@section LeftInfos
{
    @if(User.Identity.IsAuthenticated)
    {
        <ul>
        <p>
           <button class="btn btn-primary editAcc2" id="acct-@CurrentAccount.Id" ><b>Edit</b></button>
        </p>

        @if(!string.IsNullOrEmpty(CurrentAccount.Description))
        {
           <p><b>Description : </b> @CurrentAccount.Description</p>
        }

        </ul>
        
        @Html.Partial("_ListView", CurrentAccount.AllFollowedLists)
    }
    else
    {
        <p>Tigwi is fun and better than Twitter, which we copied entirely ! Cheers !</p>
    }
    
}

@if (User.Identity.IsAuthenticated)
{
    <div>@Html.Partial("_WriteMessage", new WritePostViewModel())</div>
    <div>@Html.Partial("_ViewPostList", Model.AllFollowedLists.PostsBefore(DateTime.MaxValue, 10))</div>
}
else
{
    <p>Some interesting messages here ...</p>
}
