@using Tigwi.UI.Models

@model IEnumerable<IListModel>

@*
<section class="listView">
    <ul>
    @foreach (var element in Model)
    {
        <li><input type="checkbox"/> <i class="icon-folder-open">@element.Name <br />
        <ul class="list-user">
        @foreach (var membre in element.Members)
        {
            <li><i class="icon-user"></i>@membre.Name</li>
        }
        </ul>
        </li>
    }
    </ul>
</section>
*@