<section class="listView">
    <ul>
        <li><i class="icon-folder-close"></i>lapin</li>
        <li><i class="icon-folder-open"></i>mignon</li>
        <ul class="list-user">
            <li><i class="icon-user"></i>raxou</li>
            <li><i class="icon-user"></i>dakeyras</li>
        </ul>
    </ul>
</section>