@for (int i = 0; i < 50; i++)
{
    <article class="message message@(i%2)">
        <div class="row-fluid">
            <img class="span2" style="border-radius: 20px;" src="@Url.Content("~/Content/images/default_profile_1_bigger.png")"/>
            <section class="span10">
                <h5>lapin</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pharetra tempus tempor. Duis non pellentesque eros. Nunc vitae erat magna metus.</p>
            </section>
            
        </div>
    </article>
}