@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    <ul>
        <li><a href="/Auth/Login">Se connecter</a></li>
        <li><a href="/Auth/UserInfo">Utilisateur courant</a></li>
        <li><a href="/Auth/Register">S'inscrire</a></li>
        <li><a href="/Auth/List">Liste des utilisateurs</a></li>
    </ul>
</p>
