@using Tigwi.UI.Models
@model Tigwi.UI.Models.IAccountModel

@{
    ViewBag.Title = "Home Page";
}

@section LeftInfos
{
    @if(User.Identity.IsAuthenticated)
    {
        @Html.Partial("_ListView", CurrentAccount.AllFollowedLists)
    }
    else
    {
        <p>Tigwi is fun and better than Twitter, which we copied entirely ! Cheers !</p>
    }
    
}

@section Body
{
    @if(User.Identity.IsAuthenticated)
    {
        <div>@Html.Partial("_WriteMessage", new WritePostViewModel())</div>
        <div>@Html.Partial("_ViewPostList", Model.PersonalList.PostsBefore(DateTime.MaxValue, 10))</div>
    }
    else
    {
        <p>Some interesting messages here ...</p>
    }
    
}